node_modules/
yarn.lock
.env
yarn-error.log
semiAutomatique/logErreur.txt
logs/logSysteme.txt
logs/logApi.txt
dist/
src/bin/certs/cert.crt
src/bin/certs/cert.key
src/bin/certs/cert.pem
src/bin/certs/key.pem
src/bin/certs/key.pem.key